*{padding: 0;margin: 0;box-sizing: border-box;}
a, a:link, a:visited{text-decoration: none;color:#000;}
.bg-theme-blue{background:#002E5B!important;}
.text-theme-blue {color: #002E5B!important;}
.bg-theme-red{background: #F21B51!important; }
.text-theme-red {color: #F21B51!important;}
.text-center.h1-heading:before{position: absolute;content:" ";width: 120px;height: 3px;background:#002E5B!important;bottom: -16px;left:50%;transform: translateX(-50%);}
.text-center.h1-heading:after{position: absolute;content:" ";width: 80px;height: 3px;background:#002E5B!important;bottom: -24px;left:50%;transform: translateX(-50%);}
.text-center.text-theme-red.h1-heading:before{position: absolute;content:" ";width: 120px;height: 3px;background:#F21B51!important;bottom: -16px;left:50%;transform: translateX(-50%);}
.text-center.text-theme-red.h1-heading:after{position: absolute;content:" ";width: 80px;height: 3px;background:#F21B51!important;bottom: -24px;left:50%;transform: translateX(-50%);}
header{top:-164px;z-index:55;}
header .widget{color: #fff;}
header .widget i{font-size:40px !important;}
header .widget .text-gray{font-size:14px !important;}
header .widget .text-black{font-size:16px !important;}
.home-slider .owl-carousel{margin: 0px;padding: 0px;}
.home-slider, .home-slider .owl-carousel .item{height: 100vh;}
.home-slider .owl-carousel .item img{object-fit: cover;}
.home-slider .owl-theme .owl-nav {position:absolute;top:50%;display: block;width: 100%;}
.home-slider .owl-theme .owl-nav .owl-prev span, .home-slider .owl-theme .owl-nav .owl-next span{color: #F21B51!important;font-size: 60px;}
.home-slider .owl-theme .owl-nav .owl-prev{float: left;margin-left: 50px;background: transparent;}
.home-slider .owl-theme .owl-nav .owl-next{float:right;margin-right: 50px;background: transparent;}
.home-slider .owl-theme .owl-dots{display: none;}
header .bottom .navbar-dark .navbar-nav .nav-link{color: #fff;}
header .bottom .navbar-expand-sm .navbar-nav .nav-link {padding-right: 1.5rem; padding-left: 1.5rem;}
.about-school p{font-size:20px;}
.about-school p::before{content:"";background: url(../images/quotes.svg)no-repeat center center;position: absolute;width:33.4px;height: 21.6px;left:-30px}
.about-school p::after{content:"";background: url(../images/quotes-2.svg)no-repeat center center;position: absolute;width:33.4px;height: 21.6px;}

.gallery figure img{object-fit: cover;}
footer{background: rgb(21 32 41);}
footer .widget.dark{color: #fff;}
footer .social-icons li .fa{width: 30px;height: 30px;padding:25%;}